.jumbotron {
  background-image: url(/images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.hidden {
  display: none;
}

.ng-binding {
  margin: 2em 0 2em 0;
}

#foot {
  height: 50px;
  background: gray;
}

.subBtn {
  height: 40px;
  width: 100px;
  margin: 2em 0 2em 0;
  color: black;
}
